<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>검증 폼</title>
</head>
<body>
    <form th:action="@{/validation/items/new}" th:object="${item}" method="post">
        <input th:field="*{itemName}">
        <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
        <input type="number" th:field="*{price}">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        <button>등록</button>
    </form>
</body>
</html>